.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgba(137, 207, 240, 0.9), #ffffff);
    color: #004c70;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}