.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, #2a7f5e, #ffffff);
    color: #2a7f5e;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.canvas-cartel{
    width: 100vw !important ; 
    height: 70vh !important;
}

.slider {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: #2a7f5e;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
