.contaminacion-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, rgba(137, 207, 240, 0.9), #ffffff);
    color: #2a6a7f;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.menu-toggle {
    font-size: 24px;
    background: transparent;
    border: none;
    color: #2a507f;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    transition: transform 0.3s;
}

.menu-toggle.active {
    transform: rotate(90deg);
}

.info-boxes {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.info-box h2 {
    color: #2a597f;
}

.info-box p {
    color: #333;
}
